@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ygR2w04EUd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="http://www.staggeringbeauty.com/" style="border: 1px inset #ddd" width="800" height="600"></iframe>
    </div>
